<h1> Chemistry</h1>

<h2>Equilibrium</h2>
<ul>
   <%= render partial: "attachment", collection: @attachments, locals: {topic: "solubility"} %>
</ul>

<h2> Thermochemistry</h2>
<ul>
   <%= render partial: "attachment", collection: @attachments, locals: {topic: "thermochemistry"} %>
</ul>

<h2>Electrochemistry</h2>
<ul>
   <%= render partial: "attachment", collection: @attachments, locals: {topic: "electrochemistry"} %>
</ul>
<h2>Kinetics</h2>
<ul>
   <%= render partial: "attachment", collection: @attachments, locals: {topic: "kinetics"} %>
</ul>
<h2> Intermolecular Forces</h2>
<ul>
   <%= render partial: "attachment", collection: @attachments, locals: {topic: "intermolecularForces"} %>
</ul>