<h1> All Files</h1>
<h2>Equilibrium</h2>
<ul>
   <% @attachments.each do |file|%>
   <% if file.solubility %>
   <li><%= link_to File.basename(file.filePath, ".pdf"), file.filePath %></li>
   <% end %>
   <% end %>
</ul>
<h2> Thermochemistry</h2>
<ul>
   <% @attachments.each do |file|%>
   <% if file.thermochemistry %>
   <li><%= link_to File.basename(file.filePath, ".pdf"), file.filePath %></li>
   <% end %>
   <% end %>
</ul>
<h2>Electrochemistry</h2>
<ul>
   <% @attachments.each do |file|%>
   <% if file.electrochemistry %>
   <li><%= link_to File.basename(file.filePath, ".pdf"), file.filePath %></li>
   <% end %>
   <% end %>
</ul>
<h2>Kinetics</h2>
<ul>
   <% @attachments.each do |file|%>
   <% if file.kinetics %>
   <li><%= link_to File.basename(file.filePath, ".pdf"), file.filePath %></li>
   <% end %>
   <% end %>
</ul>
<h2> Intermolecular Forces</h2>
<ul>
   <% @attachments.each do |file|%>
   <% if file.intermolecularForces%>
   <li><%= link_to File.basename(file.filePath, ".pdf"), file.filePath %></li>
   <% end %>
   <% end %>
</ul>